<header>
    <h1 class="header-font">Welcome to the Blog Post</h1>

</header>

<section style="margin-bottom:10vh">
    {{#if posts}}
    {{#each posts}}
    <article class="blog-list">
        <div>
            <div>
                <img src='{{this.img}}' width='70px' height="70px">
                <h3>{{this.title}}</h3>
                {{!-- <icon onclick="(this.favorite= !this.favorite)" class="ifFavorite? red: empty"> heart icon</icon> --}}
                <a href="/userdetails/{{this.author._id}}">
                    <p class='padding-none'> Posted By:{{this.author.name}} at {{this.createdAt}}</p>
                </a>
                <br>
                <div>
                    <div>
                        <p class='padding-none text-left-align'>{{this.content}}</p>
                    </div>
                    {{#if video}}
                    <div>
                        <iframe width="420" height="315"src="{{this.video}}">Video</iframe>
                    </div>
                    {{/if}}
                    <div style="margin-top: 10px">
                        {{#if this.isLiked}}
                        <a href="/unlike/{{this._id}}"><i class='glyphicon glyphicon-heart'
                                style='font-size:24px'></i></a>
                        {{else}}
                        <a href="/like/{{this._id}}"><i class='glyphicon glyphicon-heart-empty'
                                style='font-size:24px'></i></a>
                        {{/if}}
                    </div>
                </div>

            </div>
            {{!-- <header class='bloglist'> --}}

        </div>
    </article>
    {{/each}}
    {{else}}
    <article>
        <h3 class="blog-list" style='text-align:center'>{{message}}</h3>
    </article>
    {{/if}}
</section>

{{!-- 
<div class=allposts >
    {{#each posts}}
    <dl>
        <dd id="blogtitles">{{this.title}}</dd>
        <dd id="blogauthor" style="display:inline-block">Posted By: {{this.author.name}}</dd>
        <br>
        <dt id= "blogcontent"> "{{this.content}}</dt>
    </dl>   
    
</div> --}}