<header>
    <h2>User Details</h2>
</header>

<div>
   FirstName: {{user.firstName}}
</div>
<div>
   LastName: {{user.lasttName}}
</div>
<div>
   Username: {{user.username}}
</div>
<div>
   Email: {{user.email}}
</div>
<div>
    Followers
    <ul>
        <li>{{this.followers.name}}</li>
    </ul> 
</div>
